*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

html, body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 28% 54% 18%;
}

#left-top-left{
    /* background-color: crimson; */
    padding: 50px;
}

#square{
    height: 20px;
    width: 20px;
    background-color: black;
    rotate: 45deg;
}

#left-top-right{
    justify-self: center;
    padding: 40px;
    /* background-color: rgb(220, 20, 203); */
    font-style: 20px;
    font-weight: 500;
}

#left-top-right h4{
    margin-bottom: 20px;
    font-style: 20px;
    font-weight: 500;
}

#left-top-right h5{
    font-style: 18px;
    font-weight: 500;
}

#left-top-right h6{
    display: none;
}


#right{
    /* background-color: blueviolet; */
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    padding: 30px;
    padding-right: 60px;
}

#left-center{
    /* background-color: royalblue; */
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 40px;
}

#left-center h1{
    font-style: 7vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 530;
    line-height: 6.5vw;
}

#left-center h1:nth-child(2n){
    /* background-color: red; */
    text-align: center;
}

#left-bottom{
    /* background-color: chartreuse; */
    grid-column-start: 1;
    grid-column-end: 3;
}

#left-bottom p{
    width: 100%;
    padding: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    font-weight: 700;
}

#right video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: orangered;
    border-radius: 50%;
    padding: 30px;
    color: #ffffff;
}

#arrow i{
    font-size: 30px;
    font-weight: 100;
}

@media (max-width:600px){
    #main{
        
        grid-template-columns: 50% 50%;
        grid-template-rows: 25px 30% 10%;
    }

    #right{
        /* background-color: blueviolet; */
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 4;
        padding: 20px;
        padding-right: 60px;
    }

    #left-top-left{
        /* background-color: crimson; */
        padding: 20px;
        width: 100%;
    }
    
    #square{
        height: 15px;
        width: 15px;
    }
    
    #left-top-right{
        padding: 20px;
        width: 100%;
        /* background-color: rgb(220, 20, 203); */
        /* text-align: center; */
    }
    
    #left-top-right h4{
        margin-bottom: 20px;
        font-style: 20px;
        font-weight: 500;
        display: none;
    }
    
    #left-top-right h5{
        font-style: 18px;
        font-weight: 500;
        display: none;
    }
    
    #left-center{
        /* background-color: royalblue; */
        grid-column-start: 1;
        grid-column-end: 3;
        padding-left: 30px;
        padding-top: 30px;
    }
    
    #left-center h1{
        grid-column: 1/3;
        padding: 10px;
        font-size: 35px;
    }
    
    /* #left-center h1:nth-child(2n){
        background-color: red;
        text-align: center;
    } */
    
    #left-bottom{
        /* background-color: chartreuse; */
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    #left-bottom p{
        width: 100%;
        padding: 10px 10px;
        padding-bottom: 30px;
        font-size: 12px;
        font-weight: 700;
    }
    
    #right video{
        height: 53vh;
    }
    
    #arrow{
        top: 42%;
        left: 40%;
        padding: 10px;
        rotate: 90deg;
    }
    
    #arrow i{
        font-size: 20px;
        font-weight: 100;
    }

    #left-top-right h6{
        position: absolute;
        display: initial;
        font-size: 20px;
        right: 30px;
    }


    
}
